a:hover{
	background-color: white !important;
	color: rgba(21, 174, 166, 1) !important;
	text-decoration: none !important;
}

a.logo:hover{
	background-color: rgba(21, 174, 166, 1) !important;
}

div.hidden{
	display: none;
}

/* top navbar styles */
header{
	display: none;
	height: 40pt; width: 100%;
	background-color: rgba(21, 174, 166, 1);
	position: fixed;
	z-index: 100;
	top: 0;
}

nav{
	display: inline-block;
	float: right;
	font-size: 20pt;
	padding-right: 24pt;
}

a.nav{
	display: inline-block;
	padding: 11pt 24pt;
	width: 170pt; height: 40pt;

	font-family: 'Oswald', sans-serif;
	font-size: 13.5pt; color: white;
	letter-spacing: .4pt;

	background-color: rgba(21, 174, 166, 1);
}

a.nav-sm{
	display: none;
	padding: 11pt 24pt;
	width: 40pt; height: 40pt;

	font-family: 'Oswald', sans-serif;
	font-size: 13.5pt; color: white;
	letter-spacing: .4pt;

	background-color: rgba(21, 174, 166, 1);
}

div.hamburger{
	display: block;
	position: fixed; top: 40pt; right: 0;

	border: 1px solid rgba(21, 174, 166, 1);
	background-color: rgba(21, 174, 166, 1);
	z-index: 100;
}

a.hamburger{
	display: block;

	font-family: 'Oswald', sans-serif;
	font-size: 13.5pt; color: white;
	letter-spacing: .4pt;
	padding: 11pt 24pt;
}

/* left toolbar styles */
aside.left{
	display: inline-block;
	position: fixed; top: 0; left: 0;
	width: 195.75pt; height: 100%;

	background-color: rgba(21, 174, 166, 1);
}

img.logo{
	width: 138.75pt; height: 80.25pt;
	margin-top: 33.75pt; margin-left: 27pt; margin-bottom: 50.25pt;
	margin-bottom: 8pt; /* to add email */
}

a.email{
	display: block;
	width: 100%; height: 18pt;
	padding-top: 0pt; padding-left: 29pt; margin-bottom: 40pt;
	letter-spacing: 0.3pt;

	font-family: 'Oswald', sans-serif;
	font-size: 12pt; color: white;

	background-color: rgba(21, 174, 166, 1);
}

a.left{
	display: inline-block;
	width: 100%; height: 48.75pt;
	padding-top: 10.5pt; padding-left: 33pt;

	font-family: 'Oswald', sans-serif;
	font-size: 18pt; color: white;

	background-color: rgba(21, 174, 166, 1);
}

a.active-left{
	background-color: rgba(20, 154, 147, 1);
}

div.icon-link{
	display: block;
	margin-top: 30pt;
	font-size: 30pt;
	text-align: center;
}

a.icon-link{
	padding: 5pt;
	display: inline-block;
	color: white;
}

/* main section styles */
section.main{ /* all pages */
	margin-left: 195.75pt;
	padding: 0 40pt 40pt 40pt;
}

h1{
	display: block; margin-top: 0;
	text-align: left;
	padding-top: 34pt;

	font-family: 'Oswald', sans-serif;
	font-size: 27pt; color: rgba(21, 174, 166, 1);
	line-height: 40pt; letter-spacing: 1.5pt;
}

/* main section for the landing page */
section.index{
	background: #B6B0Ba url('../img/JoshFaceCrop.png') no-repeat;
	background-size: auto 100vh;
	height: 100%; min-height: 100vh;
	/*background-attachment: fixed;*/
	/*background-position: center;*/
	position: absolute;
}

p.white{
	display: block;
	padding-top: 18.75pt; margin-left: 280pt;

	font-family: 'Martel', sans-serif;
	font-size: 12pt; color: #FEFCFF;
	line-height: 20pt; letter-spacing: .5pt;
}

a.toast{
	display: inline-block;
	position: fixed; top: 35pt; right: 0pt;
	padding: 11pt 24pt;
	width: 170pt; height: 40pt;

	font-family: 'Oswald', sans-serif;
	font-size: 13.5pt; color: white;
	letter-spacing: .4pt;

	background-color: rgba(21, 174, 166, 1);
	box-shadow: 4px 4px 2px grey;
}

a.toast:hover{
	color: rgba(21, 174, 166, 1);
	background-color: white;
	text-decoration: none;
}

h1.white{
	display: block; margin-top: 0;
	padding-top: 140.25pt; padding-left: 280pt;
	font-family: 'Oswald', sans-serif;
	font-size: 27pt; color: white;
	line-height: 40pt; letter-spacing: 1.5pt;
}

/* main section for the portfolio page */
article{
	display: flex;
	width: 100%;
	padding: 0;
	justify-content: flex-start;
}

div.project-thumbnail{
	display: inline-block;
	padding-top: 20pt;
	width: 207pt;
	flex: none;
}

img.project-thumbnail{
	width: 100%; height: auto;
	border: 1px solid gray;
}

div.project-info{
	padding-left: 15pt;
	display: inline-block;
	flex-grow: 1;
}

h2{
	font-family: 'Oswald', sans-serif;
	font-size: 20pt; color: rgba(21, 174, 166, 1);
	line-height: 40pt; letter-spacing: 1.5pt;
}

img.tech-badge{
	display: inline-block;
	background: #333;
	width: auto; height: 18pt;
	border: 1px solid #333;
	padding: 5px;
	margin: 5px;
}

img.white{
	background: white;
	border: 1px solid white;
	padding: 1px 5px;
}

a.project-info{
	font-family: 'Lato', sans-serif;
}

p.project-info{
	font-family: 'Lato', sans-serif;
}

/* main section for resume page */
article{
	display: flex;
}

div.timeline{
	width: 160pt; padding-right: 12pt;
	text-align: right;
}

div.timeline-entry{
	max-width: 350pt;
	padding-left: 12pt;
	border-left: 2px solid lightgray;
}


section.resume{
	max-width: 591pt;
}

a.download{
	width: 180pt; height: 43pt;
	margin: 34pt auto 12pt -10pt;
	padding: 0; padding-top: 12pt; margin-right: 40pt;
	text-align: center;
	font-size: 13.5pt;
	border: 1px solid rgba(21, 174, 166, 1);
}

h3{
	display: block;
	padding: 0pt 0pt 20pt 0pt;
	margin: 0;

	font-family: 'Lato', sans-serif; font-weight: bold;
	font-size: 14pt; color: rgba(38, 38, 38, 1);
	letter-spacing: 1.5pt;
}

h3.timeline-entry{
	color: rgba(21, 174, 166, 1);
	padding: 0 0 12pt 0;
}

h4{
	display: block;
	padding: 0pt;
	margin: 0;

	font-family: 'Lato', sans-serif;
	font-size: 12pt; color: rgba(38, 38, 38, 1);
}

h5{
	display: block;
	padding: 0pt 0pt;
	margin: 0pt 0pt;
	padding-bottom: 7pt;

	font-family: 'Lato', sans-serif; font-weight: bold;
	font-size: 12pt; color: rgba(21, 174, 166, 1);
}

h6{
	display: block;
	padding: 0pt 0pt;
	margin: 0pt 0pt;
	padding-bottom: 7pt;

	font-family: 'Lato', sans-serif; font-weight: bold;
	font-size: 12pt; color: rgba(38, 38, 38, 1);
}

p.resume{
	padding: 0 0pt;
	
	font-family: 'Lato', sans-serif;
	color: rgba(38, 38, 38, 1);
}

/* main section for skills page */
section.skills{
}

img.logo-square{
	height: 24px;
}

@media (max-width: 930px){
	header{
		display: block;
	}
	aside.left{
		display: none;
	}
	section.main{
		margin-left: 0pt;
		background-attachment: fixed;
	}
	a.toast{
		display: none;
	}
	h1{
		margin-top: 60pt;
	}
	a.download{
		margin-top: 60pt;
	}
	a.txt{
		margin-top: 10pt;
	}
}

@media (max-width: 678px){
	section.main{
		background-image: none;
	}
	h1.white{
		padding-left: 0pt;
	}
	p.white{
		margin-left: 0pt;
	}
	article{
		display: block;
	}
	div.project-thumbnail{
		display: block;
		margin-right: auto; margin-left: auto;
	}
}

@media (max-width: 430px){
	a.nav{
		display:none;
	}
	a.nav-sm{
		display:inline-block;
	}
}

@media (max-height: 700px){
	section.main{
		height: inherit;
	}
	h1.white{
		padding-top: 60pt;
	}
	a.toast{
		display: none;
	}
}