/* left toolbar styles */
aside.left{
	display: inline-block;
	position: fixed; top: 0; left: 0;
	width: 195.75pt; height: 100%;

	background-color: rgba(21, 174, 166, 1);
}

img.logo{
	width: 138.75pt; height: 80.25pt;
	margin-top: 33.75pt; margin-left: 27pt; margin-bottom: 50.25pt;
}

a.left{
	display: block;
	width: 100%; height: 48.75pt;
	padding-top: 10.5pt; padding-left: 33pt;

	font-family: 'Oswald', sans-serif;
	font-size: 18pt; color: white;

	background-color: rgba(21, 174, 166, 1);
}

a.active-left{
	background-color: rgba(20, 154, 147, 1);
}

a.left:hover{
	background-color: white;
	color: rgba(21, 174, 166, 1);
	text-decoration: none;
}

div.icon-link{
	display: block;
	margin-top: 30pt;
	font-size: 30pt;
	text-align: center;
}

a.icon-link{
	padding: 5pt;
	display: inline-block;
	color: white;
}

a.icon-link:hover{
	background-color: white;
	color: rgba(21, 174, 166, 1);
	text-decoration: none;
}

/* main section styles */
section.main{ /* all pages */
	margin-left: 195.75pt;
	padding: 0 40pt 40pt 40pt;
}

h1{
	display: block; margin-top: 0;
	text-align: left;
	padding-top: 34pt;

	font-family: 'Oswald', sans-serif;
	font-size: 27pt; color: rgba(21, 174, 166, 1);
	line-height: 40pt; letter-spacing: 1.5pt;
}

/* main section for the landing page */
section.index{
	background: #B6B0Ba url('../img/JoshFaceCrop.png') no-repeat left top;
	background-size: auto 100vh;
	height: 100vh;
}

p.white{
	display: block;
	padding-top: 18.75pt; margin-left: 280pt;

	font-family: 'Martel', sans-serif;
	font-size: 12pt; color: #FEFCFF;
	line-height: 20pt; letter-spacing: .5pt;
}

a.toast{
	display: inline-block;
	position: fixed; top: 35pt; right: 0pt;
	padding: 11pt 24pt;
	width: 170pt; height: 40pt;

	font-family: 'Oswald', sans-serif;
	font-size: 13.5pt; color: white;
	letter-spacing: .4pt;

	background-color: rgba(21, 174, 166, 1);
	box-shadow: 4px 4px 2px grey;
}

a.toast:hover{
	color: rgba(21, 174, 166, 1);
	background-color: white;
	text-decoration: none;
}

h1.white{
	display: block; margin-top: 0;
	padding-top: 140.25pt; padding-left: 280pt;
	font-family: 'Oswald', sans-serif;
	font-size: 27pt; color: white;
	line-height: 40pt; letter-spacing: 1.5pt;
}

/* main section for the portfolio page */
article{
	display: flex;
	width: 100%;
	padding: 18pt 0;
	justify-content: flex-start;
}

div.project-thumbnail{
	display: inline-block;
	padding-top: 20pt;
	width: 207pt;
	flex: none;
}

img.project-thumbnail{
	width: 100%; height: auto;
	border: 1px solid gray;
}

div.project-info{
	padding-left: 15pt;
	display: inline-block;
	flex-grow: 1;
}

h2{
	font-family: 'Oswald', sans-serif;
	font-size: 20pt; color: rgba(21, 174, 166, 1);
	line-height: 40pt; letter-spacing: 1.5pt;
}

img.tech-badge{
	display: inline-block;
	background: #333;
	width: auto; height: 18pt;
	border: 1px solid #333;
	padding: 5px;
	margin: 5px;
}

img.white{
	background: white;
	border: 1px solid white;
	padding: 1px 5px;
}

a.project-info{
	font-family: 'Lato', sans-serif;
}

p.project-info{
	font-family: 'Lato', sans-serif;
}

/* main section for resume page */
section.resume{
	max-width: 511pt;
}

a.download{
	width: 180pt; height: 43pt;
	margin: 34pt auto 12pt -10pt;
	padding: 0; padding-top: 12pt;
	text-align: center;
	font-size: 13.5pt;
}

h3{
	display: block;
	padding: 18pt 0pt;
	margin: 0;

	font-family: 'Oswald', sans-serif;
	font-size: 14pt; color: rgba(21, 174, 166, 1);
	letter-spacing: 1.5pt;
}

h4{
	display: block;
	padding: 5pt 0pt;
	margin: 0;

	font-family: 'Lato', sans-serif; font-weight: bold;
	font-size: 12pt; color: rgba(38, 38, 38, 1);
}

h5{
	display: block;
	padding: 0pt 0pt;
	margin: 0pt 0pt;
	padding-bottom: 7pt;

	font-family: 'Oswald', sans-serif;
	font-size: 10pt; color: rgba(21, 174, 166, 1);
}

p.resume{
	padding: 0 0pt;
	
	font-family: 'Lato', sans-serif;
	color: rgba(38, 38, 38, 1);
}

/* main section for skills page */
section.skills{
}

img.logo-square{
	height: 24px;
}

